@model List<ApiModel>
@{  
    @using System.Net;
    @using Newtonsoft.Json;
    @using ProjectTestApi.Controllers;
    @using ProjectTestApi.Models;

    ServicePointManager.Expect100Continue = true;
    ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

    var jsonState = (new WebClient()).DownloadString("http://ww2.tuyennhansu.vn/dialy.tinhthanh.asp");
    var arrStates = JsonConvert.DeserializeObject<List<ApiModel>>(jsonState);
    string idState = "";
}
@{
    ViewData["Title"] = "Trang chủ";
}
<div id="idtrangchu">
    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        var url = HomeController._url + "module." + item.value.module + ".trangchu.asp?id=" + item.value.idpart;
        switch (int.Parse(item.value.idpart))
        {
            case 35019:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tuyendung">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null){
                                    <h2><a href="@item.value.url">@item.value.tieude</a></h2>                                    
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        @if(data.value.loai != null)
                                        {
                                            <div class="tuyendung">
                                                <div class="wrap-ndct">
                                                    <div class="@data.value.loaitin 37506 111">
                                                        <div class="ct">
                                                            @if (data.value.url != null && data.value.tieude != null)
                                                            {
                                                                <h3><a href="@data.value.url">@data.value.tieude</a></h3>
                                                            }
                                                            @if (data.value.tenND != null)
                                                            {
                                                                <span class="tenND">
                                                                    @data.value.tenND
                                                                </span>
                                                            }
                                                            @if (data.value.gia != null)
                                                            {
                                                                <div class="gia">
                                                                    <span class="st">@data.value.gia[0].viet</span>
                                                                    <span class="dv">@data.value.gia[0].donvi</span>
                                                                </div>
                                                            }
                                                            @if (data.value.diachiND != null)
                                                            {
                                                                <span class="diachiND">@data.value.diachiND</span>
                                                            }
                                                            @if (data.value.chucdanh != null)
                                                            {
                                                                <span class="chucdanh"><a href="@data.value.chucdanh[0].url">@data.value.chucdanh[0].tengoi</a></span>
                                                            }
                                                            @if (data.value.loai != null)
                                                            {
                                                                <span class="loai">
                                                                    <a href="@data.value.loai[0].url">
                                                                        @data.value.loai[0].tengoi
                                                                    </a>
                                                                </span>
                                                            }
                                                            @if (data.value.thoihan != null)
                                                            {
                                                                <span class="thoihan">@data.value.thoihan</span>
                                                            }
                                                            @if (data.value.ngoaingu != null)
                                                            {
                                                                <span class="ngoaingu">
                                                                    @foreach (var language in data.value.ngoaingu)
                                                                    {
                                                                        <a href="@language.url">@language.tengoi</a>
                                                                    }
                                                                </span>
                                                            }
                                                            @if (data.value.nganh != null)
                                                            {
                                                                <div class="vttd">
                                                                    @foreach (var career in data.value.nganh)
                                                                    {
                                                                        <a href="@career.url">@career.tengoi</a>
                                                                    }
                                                                </div>
                                                            }
                                                            <div class="group-wishlist">
                                                                <div class="wish_list "></div>
                                                                <div class="add_to_cart da-ung-tuyen"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div class="xemthem"><span><a href="/nhung-noi-thuc-tap-phu-hop-voi-ban"></a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tuyendung"></div>
                    </div>
                }
                catch
                {
                    break;
                }
                break;
            case 35001:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tintuc">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null)
                                {
                                    <h2><a href="@item.value.url">@item.value.tieude</a></h2>
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        <div class="tintuc">
                                            <div class="wrap-ndct">
                                                <div class="hinh">
                                                    @if(data.value.url != null)
                                                    {
                                                        <a href="@data.value.url">
                                                            @if(data.value.hinhdaidien != null)
                                                            {
                                                                <img class="border"
                                                                     src="@data.value.hinhdaidien"
                                                                     alt="">
                                                            }
                                                        </a>
                                                    }
                                                </div>
                                                <div class="ct">
                                                    @if(data.value.ngaydang != null)
                                                    {
                                                        <div class="ngdang">@data.value.ngaydang</div>
                                                    }
                                                    @if(data.value.url != null && data.value.tieude != null)
                                                    {
                                                        <h3>
                                                            <a href="@data.value.url">
                                                                @data.value.tieude
                                                            </a>
                                                        </h3>
                                                    }
                                                    @if(data.value.noidungtomtat != null)
                                                    {
                                                        <div class="ttct">
                                                            <p>@Html.Raw(data.value.noidungtomtat)</p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tintuc"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35031:
                break;
            case 35008:
                break;
            case 35004:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tuyendung">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null)
                                {
                                    <h2><a href="@item.value.url">@item.value.tieude</a></h2>
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        <div class="tuyendung">
                                            <div class="wrap-ndct">
                                                <div class="@data.value.loaitin 37499 111">
                                                    <div class="ct">
                                                        @if (data.value.url != null && data.value.tieude != null)
                                                        {
                                                            <h3><a href="@data.value.url">@data.value.tieude</a></h3>
                                                        }
                                                        @if (data.value.tenND != null)
                                                        {
                                                            <span class="tenND">
                                                                @data.value.tenND
                                                            </span>
                                                        }
                                                        @if(data.value.gia != null)
                                                        {
                                                            <div class="gia"><span class="dv">@data.value.gia[0].donvi</span></div>
                                                        }
                                                        @if (data.value.diachiND != null)
                                                        {
                                                            <span class="diachiND">
                                                                @data.value.diachiND
                                                            </span>
                                                        }
                                                        <span class="chucdanh">
                                                            @if (data.value.chucdanh != null)
                                                            {
                                                                <a href="@data.value.chucdanh[0].url">
                                                                    @data.value.chucdanh[0].tengoi
                                                                </a>
                                                            }                                                         
                                                        </span>
                                                        @if(data.value.loai != null){
                                                            <span class="loai">
                                                                @foreach(var type in data.value.loai)
                                                                {
                                                                    <a href="@type.url">
                                                                        @type.tengoi
                                                                    </a>
                                                                }
                                                            </span>
                                                        }
                                                       @if(data.value.thoihan != null){
                                                            <span class="thoihan">@data.value.thoihan</span>
                                                        }
                                                        @if(data.value.ngoaingu != null){
                                                            <span class="ngoaingu">
                                                                @foreach(var languege in data.value.ngoaingu)
                                                                {
                                                                    <a href="@languege.url">@languege.url</a>
                                                                }
                                                            </span>
                                                        }
                                                        @if(data.value.nganh != null)
                                                        {
                                                            <div class="vttd">
                                                                @foreach(var career in data.value.nganh)
                                                                {
                                                                    <a href="@career.url">@career.tengoi</a>
                                                                }
                                                            </div>
                                                        }
                                                        <div class="group-wishlist">
                                                            <div class="wish_list "></div>
                                                            <div class="add_to_cart da-ung-tuyen"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="xemthem"><span><a href="/tuyen-nhan-vien"></a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tuyendung"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35028:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    <div class="@_className">
                        <div class="container">
                            <h2><a href="/khach-hang-nhan-xet">Nhận xét</a></h2>
                        </div>
                        <div class="th-ykienkhachhang">
                            <div class="container ">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- Đưa các phần tử muốn hiển thị trong carousel vào đây -->
                                        <div class="swiper-slide" style="text-align:center">
                                            <div>
                                                <div class="ykienkh">
                                                    <h6><a href="/">Chị Trang</a></h6>
                                                    <div class="ykkh_ngaydang">9/27/2017 8:05:49 AM</div>
                                                    <div class="ykkh_ndtt">
                                                        <p>
                                                        <p>
                                                            Trước có nhờ trung tâm khác, khi chuyển qua bên Thế Giới Gia Sư thấy các thầy cô tư vấn tốt hơn nhiều,
                                                            con mình đã học được 1 tháng, sang năm sẽ tiếp tục nhờ các bạn tìm gia sư cho con mình.
                                                        </p>
                                                        <p><strong>Thu Trang</strong>, chợ Tân Bình</p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="text-align:center">
                                            <div>
                                                <div class="ykienkh">
                                                    <h6><a href="/">Trần Văn Thể</a></h6>
                                                    <div class="ykkh_ngaydang">9/27/2017 8:02:44 AM</div>
                                                    <div class="ykkh_ndtt">
                                                        <p>
                                                        <p>Gia sư tốt, con tôi tiến bộ nhiều.</p>
                                                        <p><strong>Trần Văn Thế</strong>, Quận 7, TPHCM</p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="text-align:center">
                                            <div>
                                                <div class="ykienkh">
                                                    <h6><a href="/">Nguyễn Thị Dung</a></h6>
                                                    <div class="ykkh_ngaydang">9/27/2017 7:56:35 AM</div>
                                                    <div class="ykkh_ndtt">
                                                        <p>
                                                        <p>Tôi là phụ huynh cháu Thúy Diễm, con tôi được sinh viên dạy kèm và hiện đang học rất tốt.</p>
                                                        <p><strong>Nguyễn Thị Dung</strong> phụ huynh Trần Thị Thúy Diễm</p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="text-align:center">
                                            <div>
                                                <div class="ykienkh">
                                                    <h6><a href="/">Chị Trang</a></h6>
                                                    <div class="ykkh_ngaydang">9/27/2017 8:05:49 AM</div>
                                                    <div class="ykkh_ndtt">
                                                        <p>
                                                        <p>
                                                            Trước có nhờ trung tâm khác, khi chuyển qua bên Thế Giới Gia Sư thấy các thầy cô tư vấn tốt hơn nhiều,
                                                            con mình đã học được 1 tháng, sang năm sẽ tiếp tục nhờ các bạn tìm gia sư cho con mình.
                                                        </p>
                                                        <p><strong>Thu Trang</strong>, chợ Tân Bình</p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="text-align:center">
                                            <div>
                                                <div class="ykienkh">
                                                    <h6><a href="/">Trần Văn Thể</a></h6>
                                                    <div class="ykkh_ngaydang">9/27/2017 8:02:44 AM</div>
                                                    <div class="ykkh_ndtt">
                                                        <p>
                                                        <p>Gia sư tốt, con tôi tiến bộ nhiều.</p>
                                                        <p><strong>Trần Văn Thế</strong>, Quận 7, TPHCM</p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Thêm nhiều slide khác nếu cần -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="container tt-ykienkhachhang"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35030:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    <div class="@_className">
                        <div class="th-laytimkiem">
                            <div class="container">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @style = "display:flex", @class = "search-congviec" }))
                                    {
                                    <form class="search-congviec">
                                        <div class="item item-search">
                                            <input name="id2" type="text" class="input-timcongviec" value="">
                                        </div>
                                        <div class="item item-city">
                                            <input onclick="SearchClick()" id="input-searchJob" type="text" class="input-timcongviec" value="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                                            <input name="id" type="hidden" id="input-ArrayIdMap" value="">
                                            <span class="clear-tinhthanh "></span>
                                        </div>
                                        <button class="btn-tk" type="submit"></button>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="container tt-laytimkiem"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35011:
                try
                {
                    <div class="id35011 md-quangcao">
                        <div class="th-quangcao"></div>
                        <div class="container tt-quangcao">
                            <p><span style="color: rgb(255, 0, 0);"><strong>028 3974 3179</strong></span></p>
                        </div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
        }
    }
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chọn theo khu vực tỉnh, thành phố</h5>
                    <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body  modal-body-khuvuc">
                    <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo tỉnh thành" value=""></div>
                    <select id="selected-state" class="form-select" size="8" aria-label="size 3 select example">
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn khu vực theo quận huyện</h5>
                    <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo quận huyện" value=""></div>
                    <select id="selected-district" class="form-select" size="8" aria-label="size 3 select example">
                    </select>
                </div>
                <div class="modal-footer">
                    <button onclick="RemoveValueState()" class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn theo phường xã</h5>
                    <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo phường xã" value=""></div>
                    <select id="selected-wards" class="form-select" size="8" aria-label="size 3 select example">
                    </select>
                </div>
                <div class="modal-footer">
                    <button onclick="RemoveValueDistrict()" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
                </div>
            </div>
        </div>
    </div>
    <input id="input-state" type="hidden" />
    <input id="input-district" type="hidden" />
    <input id="input-wards" type="hidden" />

    <input id="input-IdState" type="hidden" />
    <input id="input-IdDistrict" type="hidden" />
    <input id="input-IdWards" type="hidden" />

    <div id="loading-container">
        <div id="loading-spinner"></div>
        <p id="loading-text">Đang tải...</p>
    </div>


</div>

