@using System.Net;
@using Newtonsoft.Json;
@using ProjectTestApi.Models.Const;
@using System.Text.Json;
@model List<ApiHomeContentModel>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cookieUserValue = Context.Request.Cookies[MyConstanst.KeyUserNameCookies];
    string cookiePassValue = Context.Request.Cookies[MyConstanst.KeyPasswordCookies];
    string cookieTypeAccountValue = Context.Request.Cookies[MyConstanst.KeyTypeLAccountCookies];
}
@{
    string classNameLeft = "";
    string classNameMid = "col-12";
    string classNameRight = "";

    string url = MyConstanst.SiteName + "web.cautruc.asp?id=";
    string jsonStructure = await (new WebClient()).DownloadStringTaskAsync(url);
    List<ApiStructurePageModel> structureModels = JsonConvert.DeserializeObject<List<ApiStructurePageModel>>(jsonStructure);
    if (structureModels != null)
    {
        if (structureModels[0].ViTriTrai == true && structureModels[0].ViTriPhai == false)
        {
            classNameLeft = "col-3";
            classNameMid = "col-9";
        }
        if (structureModels[0].ViTriTrai == false && structureModels[0].ViTriPhai == true)
        {
            classNameRight = "col-3";
            classNameMid = "col-9";
        }
        if (structureModels[0].ViTriTrai == true && structureModels[0].ViTriPhai == true)
        {
            classNameRight = "col-3";
            classNameLeft = "col-3";
            classNameMid = "col-6";
        }
    }
}
<div class="container">
    <div class="row">
        @{
            if (!string.IsNullOrEmpty(classNameLeft))
            {
                string apiContentLeft = MyConstanst.SiteName + "web.vitritrai.asp?id=";
                string jsonContentLeft = await (new WebClient()).DownloadStringTaskAsync(apiContentLeft);
                List<ApiStructurePageModel> leftModels = JsonConvert.DeserializeObject<List<ApiStructurePageModel>>(jsonContentLeft);
                <div class="@classNameLeft">
                    @foreach (var content in leftModels)
                    {
                        if (content.danhmucmenu != null)
                        {
                            <div class="ddsmoothmenu-v">
                                @foreach (var item in content.danhmucmenu)
                                {
                                    <li class="liparent thutu1 kieutintuc">

                                        <span class="txt txtparent"><a class="nhomcha" href="/@item.url/" title="@item.tieude">@item.tieude</a></span>
                                    </li>
                                }
                            </div>
                        }
                        else
                        {
                            switch (content.module)
                            {
                                case "Tintuc":
                                    <div class="section primary-section khungchinh  tintuc lien-ket kieutintuc0 loaitomtat0 nhomtin103" style=""
                                         id="lien-ket">
                                        <div class="triangle"></div>
                                        <div class="top">

                                            <h2 class="tenp">
                                                <a href="/@content.url/">@content.tieude</a>
                                            </h2>

                                        </div>
                                        @if (content.tomtat != "")
                                        {
                                            <div class="container noidungcontent">
                                                <div class="nhomtomtat">
                                                    @Html.Raw(content.tomtat)
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container noidungcontent">
                                                @{
                                                    string apiImage = MyConstanst.SiteName + "module." + content.tenham + ".trangchu.asp?url=" + content.url;
                                                    string strJson = await (new WebClient()).DownloadStringTaskAsync(apiImage);
                                                    List<ApiNewsModel> models = JsonConvert.DeserializeObject<List<ApiNewsModel>>(strJson);
                                                    if (models != null)
                                                    {
                                                        <div class="slideshow-container slideshow-left">
                                                            <div class="slideshow">
                                                                @foreach (var image in models[0].data)
                                                                {
                                                                    string rootUrlImage = MyConstanst.SiteNameImage + image.hinhdaidien;
                                                                    <div class="slideshow-image-leftt">
                                                                        <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = image.url})"><img src="@rootUrlImage"></a>
                                                                        <p>@image.tieude</p>
                                                                    </div>
                                                                }
                                                                
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                    break;
                                case "QuangCao":
                                    break;
                            }
                        }
                    }
                </div>
            }
            <div class="@classNameMid">
                @foreach (var content in Model)
                {
                    string jsonApi = MyConstanst.SiteName + "module." + content.tenham + ".trangchu.asp?id=" + content.idpart;
                    string jsonContent = await (new WebClient()).DownloadStringTaskAsync(jsonApi);
                    string _className = "id" + content.idpart + " md-" + content.module.ToLower();

                    switch (content.tenham)
                    {
                        case "Raovat":
                            break;
                        case "LayTimKiem":
                            <div class="@_className">
                                <div class="th-laytimkiem">
                                    <div class="container">
                                        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @style = "display:flex", @class = "search-congviec" }))
                                        {
                                            <form class="search-congviec">
                                                <div class="item item-search">
                                                    <input name="id2" type="text" class="input-timcongviec" value="">
                                                </div>
                                                <div class="item item-city">
                                                    <input type="text" id="input-str-address" onclick="GetState()" class="input-timcongviec" value=" " data-bs-target="#stateModalToggle" data-bs-toggle="modal">
                                                    <input name="id" type="hidden" id="input-arr-id-address" value="">
                                                    <span class="clear-tinhthanh "></span>
                                                </div>
                                                <button class="btn-tk" type="submit"></button>
                                            </form>
                                        }
                                    </div>
                                </div>
                                <div class="container tt-laytimkiem"></div>
                            </div>
                            break;
                        case "Tuyendung":
                            if (!string.IsNullOrEmpty(jsonContent))
                            {
                                List<ApiRecruitmentModel> models = JsonConvert.DeserializeObject<List<ApiRecruitmentModel>>(jsonContent);

                                <div class="@_className">
                                    <div class="th-tuyendung">
                                        <div class="container">
                                            @if (content.url != null && content.tieude != null && models[0].data.Count != 0)
                                            {
                                                <h2><a href="@content.url">@content.tieude</a></h2>
                                                <div class="row">
                                                    @foreach (var data in models[0].data.Select((value, i) => new { i, value }))
                                                    {
                                                        <div class="tuyendung">
                                                            <div class="wrap-ndct">
                                                                <div class="@data.value.loaitin 37499 111">
                                                                    <div class="ct">
                                                                        <h3><a href="@Url.Action("NoiDungChiTiet","Home", new {keyword =data.value.url})">@data.value.tieude</a></h3>
                                                                        <span class="tenND">
                                                                            @data.value.tenND
                                                                        </span>
                                                                        @if (data.value.gia != null)
                                                                        {
                                                                            <div class="gia"><span class="dv">@data.value.gia[0].donvi</span></div>
                                                                        }
                                                                        <span class="diachiND">
                                                                            @data.value.diachiND
                                                                        </span>
                                                                        <span class="chucdanh">
                                                                            @if (data.value.chucdanh != null)
                                                                            {
                                                                                foreach (var cd in data.value.chucdanh)
                                                                                {
                                                                                    <a href="@Url.Action("Search","Home", new {keyword = cd.url})">
                                                                                        @cd.tengoi
                                                                                    </a>
                                                                                }
                                                                            }
                                                                        </span>
                                                                        @if (data.value.loai != null)
                                                                        {
                                                                            <span class="loai">
                                                                                @foreach (var type in data.value.loai)
                                                                                {
                                                                                    <a href="@Url.Action("Search","Home",new {keyword = type.url})">
                                                                                        @type.tengoi
                                                                                    </a>
                                                                                }
                                                                            </span>
                                                                        }
                                                                        <span class="thoihan">@data.value.thoihan</span>
                                                                        @if (data.value.ngoaingu != null)
                                                                        {
                                                                            <span class="ngoaingu">
                                                                                @foreach (var languege in data.value.ngoaingu)
                                                                                {
                                                                                    <a href="@Url.Action("Search","Home",new {keyword = languege.url})">@languege.url</a>
                                                                                }
                                                                            </span>
                                                                        }
                                                                        @if (data.value.nganh != null)
                                                                        {
                                                                            <div class="vttd">
                                                                                @foreach (var career in data.value.nganh)
                                                                                {
                                                                                    <a href="@Url.Action("Search","Home",new {keyword = career.url})">@career.tengoi</a>
                                                                                }
                                                                            </div>
                                                                        }
                                                                        <div class="group-wishlist">
                                                                            <div class="wish_list "></div>
                                                                            <div onclick="AddToCart(@data.value.id)" class="add_to_cart da-ung-tuyen"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="xemthem"><span><a href="/tuyen-nhan-vien"></a></span></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="container tt-tuyendung"></div>
                                </div>
                            }
                            break;
                        case "Quangcao":
                            <div class="@_className">
                                <div class="th-quangcao"></div>
                                <div class="container tt-quangcao">
                                    <p><span style="color: rgb(255, 0, 0);"><strong>028 3974 3179</strong></span></p>
                                </div>
                            </div>
                            break;
                        case "Ykienkhachhang":
                            if (!string.IsNullOrEmpty(jsonContent))
                            {
                                List<ApiCustomerReviewModel> models = JsonConvert.DeserializeObject<List<ApiCustomerReviewModel>>(jsonContent);
                                <div class="@_className">
                                    <div class="th-ykienkhachhang">
                                        <div class="container ">
                                            @if (content.url != null && content.tieude != null)
                                            {
                                                <h2><a href="/@content.url">@content.tieude</a></h2>
                                            }
                                            <div class="swiper swiper-initialized swiper-horizontal mySwiper swiper-backface-hidden">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        @if (models.Count != null)
                                                        {
                                                            @foreach (var Review in models)
                                                            {
                                                                <div class="swiper-slide">
                                                                    <div>
                                                                        <div class="ykienkh">
                                                                            <h6><a href="@Review.url">@Review.tieude</a></h6>
                                                                            <div class="ykkh_ngaydang">@Review.ngaydang</div>
                                                                            <div class="ykkh_ndtt">
                                                                                <span>
                                                                                    <p>
                                                                                        @Html.Raw(Review.noidungtomtat)
                                                                                    </p>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="swiper-button-next"></div>
                                                    <div class="swiper-button-prev"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container tt-ykienkhachhang"></div>
                                </div>
                            }
                            break;
                        case "Tintuc":
                            if (!string.IsNullOrEmpty(jsonContent))
                            {
                                try
                                {
                                    using (JsonDocument.Parse(jsonContent))
                                    {
                                        List<ApiNewsModel> models = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                                        if(content.noidungtab.Count !=0  && content.noidungtab != null)
                                        {
                                            <div class="id35001 md-tintuc ">
                                                <div class="th-tintuc">
                                                    <div class="container">
                                                        @if (content.noidungtab == null)
                                                        {
                                                            <h2><a href="@content.url">@content.tieude</a></h2>
                                                            <div class="row">
                                                                @foreach (var data in models[0].data.Select((value, i) => new { i, value }))
                                                                {
                                                                    string srcImage = MyConstanst.SiteNameImage + data.value.hinhdaidien;
                                                                    <div class="tintuc">
                                                                        <div class="wrap-ndct">
                                                                            <div class="hinh">
                                                                                <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = data.value.url})">
                                                                                    <img class="border"
                                                                                         src="@srcImage"
                                                                                         alt="">
                                                                                </a>
                                                                            </div>
                                                                            <div class="ct">
                                                                                <div class="ngdang">@data.value.ngaydang</div>
                                                                                <h3>
                                                                                    <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = data.value.url})">
                                                                                        @data.value.tieude
                                                                                    </a>
                                                                                </h3>
                                                                                <div class="ttct">
                                                                                    <p>@Html.Raw(data.value.noidungtomtat)</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        @if (content.noidungtab != null && content.noidungtab.Count != 0)
                                                        {
                                                            <h2><a href="@content.url">@content.tieude</a></h2>
                                                            <div class="row">
                                                                <div class="list-group">
                                                                    <div class="container">
                                                                        <div class="col">
                                                                            @foreach (var dataSc in content.noidungtab)
                                                                            {
                                                                                jsonApi = MyConstanst.SiteName + "module." + content.tenham + ".trangchu.asp?id=" + dataSc.idpart;
                                                                                jsonContent = await (new WebClient()).DownloadStringTaskAsync(jsonApi);
                                                                                List<ApiNewsModel> models2 = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                                                                                if (dataSc.idpart.Contains("#"))
                                                                                {
                                                                                    <button onclick="InsertDataSlider('@content.tenham','@content.module','@content.idpart','@dataSc.idpart')" type="button" class="btn btn-primary ">@dataSc.tieude</button>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <button onclick="InsertDataContentTab('@content.module','@content.idpart','@dataSc.idpart')" type="button" class="btn btn-primary ">@dataSc.tieude</button>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col">
                                                                            @{
                                                                                @foreach (var dataSc in content.noidungtab)
                                                                                {
                                                                                    jsonApi = MyConstanst.SiteName + "module." + content.module + ".trangchu.asp?id=" + dataSc.idpart;
                                                                                    if (dataSc.idpart.Contains("#"))
                                                                                    {
                                                                                        jsonApi = MyConstanst.SiteName + "module." + content.tenham + ".trangchu.asp?id=" + dataSc.idpart;
                                                                                        List<ApiNewsModel> contentTab = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                                                                                        <div class="noidungtab" id="@content.module-@content.idpart">
                                                                                            <div class="noidungtab-right">
                                                                                                <select class="form-select noidungtab @content.module-@content.idpart" onchange="redirectToSelectedPage()" size="7" aria-label="Size 3 select example" style="border-radius:5px">
                                                                                                    @foreach (var firstItem in contentTab[0].data.Select((value, i) => new { i, value }))
                                                                                                    {
                                                                                                        <option value="@Url.Action("ChiTietTinTuc","Home",new {keyword = firstItem.value.url})" selected>@firstItem.value.tieude</option>
                                                                                                    }
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="noidungtab-left">
                                                                                                <div class="swiper-container image">
                                                                                                    <div class="swiper-wrapper @content.module-@content.idpart">
                                                                                                        @foreach (var firstItem in contentTab[0].data.Select((value, i) => new { i, value }))
                                                                                                        {
                                                                                                            string srcImage = MyConstanst.SiteNameImage + firstItem.value.hinhdaidien;
                                                                                                            <div class="swiper-slide image">
                                                                                                                <img src="@srcImage" alt="@firstItem.value.tieude">
                                                                                                                <div class="content">
                                                                                                                    <p>@firstItem.value.tieude</p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        jsonContent = await (new WebClient()).DownloadStringTaskAsync(jsonApi);
                                                                                        List<ApiNewsModel> contentTab = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                                                                                        <div style="display:flex;flex-wrap:wrap; justify-content:space-between" id="@content.module-@content.idpart">
                                                                                            @foreach (var firstItem in contentTab[0].data)
                                                                                            {
                                                                                                string srcImage = MyConstanst.SiteNameImage + firstItem.hinhdaidien;
                                                                                                <div style="width:calc(30% - 2px);margin:5px" class="tintuc">
                                                                                                    <div class="wrap-ndct">
                                                                                                        <div class="hinh">
                                                                                                            <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = firstItem.url})">
                                                                                                                <img class="border"
                                                                                                                     src="@srcImage"
                                                                                                                     alt="">
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <div class="ct">
                                                                                                            <div class="ngdang">@firstItem.ngaydang</div>
                                                                                                            <h3>
                                                                                                                <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = firstItem.url})">
                                                                                                                    @firstItem.tieude
                                                                                                                </a>
                                                                                                            </h3>
                                                                                                            <div class="ttct">
                                                                                                                <p>@Html.Raw(firstItem.noidungtomtat)</p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            }
                                                                                        </div>
                                                                                    }
                                                                                    break;
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="container tt-tintuc"></div>
                                            </div>
                                        }
                                    }
                                }
                                catch (Exception ex)
                                {

                                }
                            }
                            break;
                        case "Video":
                            List<ApiNewsModel> modelsVideo = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                            <div class="id35001 md-tintuc">
                                <div class="th-tintuc">
                                    <div class="container">
                                        <h2><a href="@content.url">@content.tieude</a></h2>
                                        <div class="row">
                                            <div class="list-group">
                                                <div class="container">
                                                    <div class="row">
                                                        @foreach(var item in modelsVideo[0].data)
                                                        {
                                                            string urlImage = MyConstanst.SiteNameImage + item.hinhdaidien;
                                                            <div class="col-md-3" id="Tintuc1001-100">
                                                                <div class="tintuc">
                                                                    <div class="wrap-ndct">
                                                                        <div class="hinh">
                                                                            <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = item.url})">
                                                                                <img class="border"
                                                                                     src="@urlImage"
                                                                                     alt="">
                                                                            </a>
                                                                        </div>
                                                                        <div class="ct">
                                                                            <div class="ngdang">@item.ngaydang</div>
                                                                            <h3>
                                                                                <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = item.url})">
                                                                                    @item.tieude
                                                                                </a>
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container tt-tintuc"></div>
                            </div>
                            break;
                        case"Music":
                            List<ApiNewsModel> modelsAudio = JsonConvert.DeserializeObject<List<ApiNewsModel>>(jsonContent);
                            <div class="id35001 md-tintuc">
                                <div class="th-tintuc">
                                    <div class="container">
                                        <h2><a href="@content.url">@content.tieude</a></h2>
                                        <div class="row">
                                            <div class="list-group">
                                                <div class="container">
                                                    <div class="row">
                                                        @foreach (var item in modelsAudio[0].data)
                                                        {
                                                            string urlImage = MyConstanst.SiteNameImage + item.hinhdaidien;
                                                            <div class="col-md-3" id="Tintuc1001-100">
                                                                <div class="tintuc">
                                                                    <div class="wrap-ndct">
                                                                        <div class="hinh">
                                                                            <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = item.url})">
                                                                                <img class="border"
                                                                                     src="@urlImage"
                                                                                     alt="">
                                                                            </a>
                                                                        </div>
                                                                        <div class="ct">
                                                                            <div class="ngdang">@item.ngaydang</div>
                                                                            <h3>
                                                                                <a href="@Url.Action("ChiTietTinTuc","Home",new {keyword = item.url})">
                                                                                    @item.tieude
                                                                                </a>
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container tt-tintuc"></div>
                            </div>
                            break;
                    }
                }
                <div class="modal fade" id="stateModalToggle" aria-hidden="true" aria-labelledby="stateModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Chọn theo khu vực tỉnh, thành phố</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body state">
                                <div class="modal-input-tt"><input type="text" onkeydown="FilterOption()" placeholder="Tìm theo tỉnh thành" value=""></div>
                                <select id="selected-state" class="form-select state" size="10" aria-label="Size 3 select example">
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button onclick="RemoveState()" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="districtModalToggle" aria-hidden="true" aria-labelledby="districtModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chọn theo khu vực quận huyện</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-input-tt"><input type="text" placeholder="Tìm theo quận huyện" value=""></div>
                                <select id="selected-district" class="form-select district" size="10" aria-label="Size 3 select example">
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button onclick="RemoveDistrict()" class="btn btn-primary" data-bs-target="#stateModalToggle" data-bs-toggle="modal">Trở về</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="wardModalToggle" aria-hidden="true" aria-labelledby="wardModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chọn theo phường xã</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-input-tt"><input type="text" placeholder="Tìm theo phường xã" value=""></div>
                                <select id="selected-ward" class="form-select ward" size="10" aria-label="Size 3 select example">
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button onclick="RemoveWard()" class="btn btn-primary" data-bs-target="#districtModalToggle" data-bs-toggle="modal">Trở về</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            if (!string.IsNullOrEmpty(classNameRight))
            {
                <div class="@classNameRight">
                </div>
            }
        }
    </div>
</div>
<script>
    function AddToCart(idNew) {
        let eUser = `@cookieUserValue`;
        let ePass = `@cookiePassValue`;
        let siteName = `@MyConstanst.SiteName1`;
        let eTypeAccount = `@cookieTypeAccountValue`;
        let urlApi = siteName + "save.addcart.asp?userid=" + eUser + "&pass=" + ePass + "&id=" + idNew + "&id1=&id2="
        $.ajax({
            type: 'POST',
            url: urlApi,
            success: (response) => {
                if (response[0].maloi == 1) {
                    if (eTypeAccount == 1) {
                        Swal.fire({
                            title: 'Thông báo!',
                            text: response[0].ThongBao,
                            icon: 'success',
                            confirmButtonText: 'Đóng'
                        });

                    }
                    else {
                    }
                } else {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: response[0].ThongBao,
                        icon: 'warning',
                        confirmButtonText: 'Đóng'
                    });
                }
            },
            error: (e) => {
                Swal.fire({
                    title: 'Thông báo!',
                    text: 'Không thể ứng tuyển!',
                    icon: 'error',
                    confirmButtonText: 'Đóng'
                });
            }
        })
    }
    function redirectToSelectedPage() {
        var selectedValue = document.querySelector(".form-select.noidungtab").value;
        if (selectedValue !== "") {
            window.location.href = selectedValue;
        }
    }
</script>

