@model List<ApiModel>
@{  
    @using System.Net;
    @using Newtonsoft.Json;
    @using ProjectTestApi.Controllers;
    @using ProjectTestApi.Models;

    ServicePointManager.Expect100Continue = true;
    ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

    var jsonState = (new WebClient()).DownloadString("http://ww2.tuyennhansu.vn/dialy.tinhthanh.asp");
    var arrStates = JsonConvert.DeserializeObject<List<ApiModel>>(jsonState);
}
@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in Model.Select((value, i) => new { i, value }))
{
    var url = HomeController._url + "module." + item.value.module + ".trangchu.asp?id=" + item.value.idpart;
    switch (int.Parse(item.value.idpart))
    {
        case 35019:
            try
            {
                var json = (new WebClient()).DownloadString(url);
                var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                <div class="id35019 tuyendung">
                    <div class="container">
                        <h2>
                            <a href="@item.value.url">@item.value.tieude</a>
                        </h2>
                    </div>
                    <div class="th-tuyendung">
                        <div class="container">
                            <div class="row">
                                @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                {
                                    <div class="ndct">
                                        <div class="wrap-ndct">
                                            <div class="@data.value.loaitin 37506 111">
                                                <div class="ct">
                                                    <h3>
                                                        <a>@data.value.tieude</a>
                                                    </h3>
                                                    <span class="tenND">
                                                        @data.value.tenND
                                                    </span>
                                                    <div class="gia">
                                                        <span class="st"></span>
                                                        @if(data.value.gia != null)
                                                        {
                                                            @foreach (var price in data.value.gia)
                                                            {
                                                                <span class="dv">@price.donvi</span>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="diachiND">
                                                        <span>@data.value.diachiND</span>
                                                    </div>
                                                    <div class="chucdanh">
                                                        @if(data.value.chucdanh != null)
                                                        {
                                                            @foreach (var position in data.value.chucdanh)
                                                            {
                                                                <a href="@position.url">@position.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="loai">
                                                        @if (data.value.loai != null)
                                                        {
                                                            @foreach (var loai in data.value.loai)
                                                            {
                                                                <a href="@loai.url">@loai.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="thoihan">
                                                        @data.value.thoihan
                                                    </div>
                                                    <div class="ngoaingu">
                                                        @if (data.value.ngoaingu != null)
                                                        {
                                                            @foreach (var language in data.value.ngoaingu)
                                                            {
                                                                <a href="@language.url">@language.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="vttd">
                                                        @if(data.value.nganh != null)
                                                        {
                                                            @foreach (var carrer in data.value.nganh)
                                                            {
                                                                <a href="@carrer.url">@carrer.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="group-wishlist">
                                                        <div class="wish_list "></div>
                                                        <div class="add_to_cart  "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container tt-tuyendung"></div>
                </div>
            }
            catch
            {
                break;
            }
            break;
        case 35001:
            try
            {
                var json = (new WebClient()).DownloadString(url);
                var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                <div class="id35001 tintuc">
                    <div class="container">
                        <h2>
                            <a href="">@item.value.tieude</a>
                        </h2>
                    </div>
                    <div class="th-tintuc">
                        <div class="container">
                            <div class="row">
                                @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                {
                                    <div class="ndct">
                                        <div class="wrap-ndct">
                                            <div class="hinh">
                                                <a href="@data.value.url">
                                                    <img src="@data.value.hinhdaidien" alt="" class="border">
                                                </a>
                                            </div>
                                            <div class="ct">
                                                <div class="ngdang">
                                                    @data.value.ngaydang
                                                </div>
                                                <h3>
                                                    <a href="@data.value.url">@data.value.tieude</a>
                                                </h3>
                                                <div class="ttct">
                                                    <p>@Html.Raw(@data.value.noidungtomtat)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container tt-tintuc"></div>
                </div>
            }
            catch (Exception)
            {
                
                throw;
            }
            break;
        case 35031:
            break;
        case 35008:
            break;
        case 35004:
           try
            {
                var json = (new WebClient()).DownloadString(url);
                var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                <div class="id35004 tuyendung">
                    <div class="container">
                        <h2>
                            <a href="@item.value.url">@item.value.tieude</a>
                        </h2>
                    </div>
                    <div class="th-tuyendung">
                        <div class="container">
                            <div class="row">
                                @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                {
                                    <div class="ndct">
                                        <div class="wrap-ndct">
                                            <div class="@data.value.loaitin 37506 111">
                                                <div class="ct">
                                                    <h3>
                                                        <a>@data.value.tieude</a>
                                                    </h3>
                                                    <span class="tenND">
                                                        @data.value.tenND
                                                    </span>
                                                    <div class="gia">
                                                        <span class="st"></span>
                                                        @foreach (var price in data.value.gia)
                                                        {
                                                            <span class="dv">@price.donvi</span>
                                                        }
                                                    </div>
                                                    <div class="diachiND">
                                                        <span>@data.value.diachiND</span>
                                                    </div>
                                                    <div class="chucdanh">
                                                        @if(data.value.chucdanh != null)
                                                        {
                                                            @foreach (var position in data.value.chucdanh)
                                                            {
                                                                <a href="@position.url">@position.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="loai">
                                                        @if(data.value.loai != null)
                                                        {
                                                            @foreach (var loai in data.value.loai)
                                                            {
                                                                <a href="@loai.url">@loai.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="thoihan">
                                                        @data.value.thoihan
                                                    </div>
                                                    <div class="ngoaingu">
                                                       @if(data.value.ngoaingu != null){
                                                            @foreach (var language in data.value.ngoaingu)
                                                            {
                                                                <a href="@language.url">@language.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="vttd">
                                                        @if(data.value.nganh != null)
                                                        {
                                                            @foreach (var carrer in data.value.nganh)
                                                            {
                                                                <a href="@carrer.url">@carrer.tengoi</a>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="group-wishlist">
                                                        <div class="wish_list "></div>
                                                        <div class="add_to_cart  "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container tt-tuyendung"></div>
                </div>
            }
            catch (Exception)
            {
                
                throw;
            }
            break;
        case 35028:
            try
            {
                <div class="id35028 ykienkhachhang">
                    <div class="container">
                        <h2>
                            <a href="@item.value.url">@item.value.tieude</a>
                        </h2>
                    </div>
                </div>
            }
            catch (Exception)
            {
                
                throw;
            }
            break;
        case 35030:
            try
            {
                <div class="id35030 laytimkiem">
                    <div class="container">
                        <h2>
                            <a href="@item.value.url">@item.value.tieude</a>
                        </h2>
                    </div>
                    <div class="th-laytimkiem">
                        <div class="container">
                            <form class="search-congviec">
                                <div class="item item-search">
                                    <input type="text" class="input-timcongviec" value="">
                                </div>
                                <div class="item item-city">
                                    <input type="text" class="input-timcongviec" value="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="clear-tinhthanh "></span>
                                </div>
                                <button class="btn-tk" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                            </form>
                        </div>
                    </div>
                    <div class="container tt-laytimkiem"></div>
                </div>
            }
            catch (Exception)
            {
                
                throw;
            }
            break;
    }
}  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Chọn theo khu vực tỉnh, thành phố </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" size="7" aria-label="size 3 select example">
                    @{
                        if(arrStates != null)
                        {
                            foreach(var state in arrStates)
                            {                               
                                        <option data-bs-dismiss="modal" class="state-value" value="@state.id" onclick="ClickStateHandle()">@state.ten</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


