@model List<ApiModel>
@{  
    @using System.Net;
    @using Newtonsoft.Json;
    @using ProjectTestApi.Controllers;
    @using ProjectTestApi.Models;
    @using ProjectTestApi.Models.Const;

    ServicePointManager.Expect100Continue = true;
    ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

    var jsonState = (new WebClient()).DownloadString(MyConstanst.SiteName+"dialy.tinhthanh.asp");
    var arrStates = JsonConvert.DeserializeObject<List<ApiModel>>(jsonState);
    string idState = "";

    string cookieUserValue = Context.Request.Cookies[MyConstanst.KeyUserNameCookies];
    string cookiePassValue = Context.Request.Cookies[MyConstanst.KeyPasswordCookies];
    string cookieTypeAccountValue = Context.Request.Cookies[MyConstanst.KeyTypeLAccountCookies];
}
@{
    ViewData["Title"] = "Trang chủ";
}
@{
    if(User.Identity.IsAuthenticated){
        if (TempData.ContainsKey("SuccessLogin"))
        {
            <input type="hidden" id="NotifiSuccess" value="@TempData["SuccessLogin"]"/>
            <script>
                var notifi = document.getElementById("NotifiSuccess");
                Swal.fire({
                    title: 'Thông báo!',
                    text: notifi.value,
                    icon: 'success',
                    confirmButtonText: 'Đóng'
                });
                notifi.parentElement.removeChild(notifi);
            </script>
        }
    }
}
<div id="idtrangchu">
    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        var url = MyConstanst.SiteName + "module." + item.value.module + ".trangchu.asp?id=" + item.value.idpart;
        switch (int.Parse(item.value.idpart))
        {
            case 35019:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tuyendung">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null){
                                    <h2><a href="/@item.value.url">@item.value.tieude</a></h2>                                    
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        @if(data.value.loai != null)
                                        {
                                            <div class="tuyendung">
                                                <div class="wrap-ndct">
                                                    <div class="@data.value.loaitin 37506 111">
                                                        <div class="ct">
                                                            @if (data.value.url != null && data.value.tieude != null)
                                                            {
                                                                <h3><a href="@Url.Action("JobDetail","Home",new {key= data.value.url})">@data.value.tieude</a></h3>
                                                            }
                                                            @if (data.value.tenND != null)
                                                            {
                                                                <span class="tenND">
                                                                    @data.value.tenND
                                                                </span>
                                                            }
                                                            @if (data.value.gia != null)
                                                            {
                                                                <div class="gia">
                                                                    <span class="st">@data.value.gia[0].viet</span>
                                                                    <span class="dv">@data.value.gia[0].donvi</span>
                                                                </div>
                                                            }
                                                            @if (data.value.diachiND != null)
                                                            {
                                                                <span class="diachiND">@data.value.diachiND</span>
                                                            }
                                                            @if (data.value.chucdanh != null)
                                                            {
                                                                foreach (var cd in data.value.chucdanh)
                                                                {
                                                                    <span class="chucdanh"><a href="@Url.Action("Search","Home", new {url = cd.url})">@cd.tengoi</a></span>
                                                                }
                                                            }
                                                            @if (data.value.loai != null)
                                                            {
                                                                <span class="loai">
                                                                    <a href="@data.value.loai[0].url">
                                                                        @data.value.loai[0].tengoi
                                                                    </a>
                                                                </span>
                                                            }
                                                            @if (data.value.thoihan != null)
                                                            {
                                                                <span class="thoihan">@data.value.thoihan</span>
                                                            }
                                                            @if (data.value.ngoaingu != null)
                                                            {
                                                                <span class="ngoaingu">
                                                                    @foreach (var language in data.value.ngoaingu)
                                                                    {
                                                                        <a href="@Url.Action("Search","Home",new {url = language.url})">@language.tengoi</a>
                                                                    }
                                                                </span>
                                                            }
                                                            @if (data.value.nganh != null)
                                                            {
                                                                <div class="vttd">
                                                                    @foreach (var career in data.value.nganh)
                                                                    {
                                                                        <a href="@Url.Action("Search","Home",new {url = career.url})">@career.tengoi</a>
                                                                    }
                                                                </div>
                                                            }
                                                            <div class="group-wishlist">
                                                                <div class="wish_list "></div>
                                                                <div id="add_to_cart da-ung-tuyen" class="add_to_cart da-ung-tuyen"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div class="xemthem"><span><a href="/nhung-noi-thuc-tap-phu-hop-voi-ban"></a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tuyendung"></div>
                    </div>
                }
                catch
                {
                    break;
                }
                break;
            case 35001:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tintuc">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null)
                                {
                                    <h2><a href="@item.value.url">@item.value.tieude</a></h2>
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        <div class="tintuc">
                                            <div class="wrap-ndct">
                                                <div class="hinh">
                                                    @if(data.value.url != null)
                                                    {
                                                        <a href="@data.value.url">
                                                            @if(data.value.hinhdaidien != null)
                                                            {
                                                                <img class="border"
                                                                     src="@data.value.hinhdaidien"
                                                                     alt="">
                                                            }
                                                        </a>
                                                    }
                                                </div>
                                                <div class="ct">
                                                    @if(data.value.ngaydang != null)
                                                    {
                                                        <div class="ngdang">@data.value.ngaydang</div>
                                                    }
                                                    @if(data.value.url != null && data.value.tieude != null)
                                                    {
                                                        <h3>
                                                            <a href="@data.value.url">
                                                                @data.value.tieude
                                                            </a>
                                                        </h3>
                                                    }
                                                    @if(data.value.noidungtomtat != null)
                                                    {
                                                        <div class="ttct">
                                                            <p>@Html.Raw(data.value.noidungtomtat)</p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tintuc"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35031:
                break;
            case 35008:
                break;
            case 35004:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-tuyendung">
                            <div class="container">
                                @if(item.value.url != null && item.value.tieude != null)
                                {
                                    <h2><a href="@item.value.url">@item.value.tieude</a></h2>
                                }
                                <div class="row">
                                    @foreach (var data in list[0].data.Select((value, i) => new { i, value }))
                                    {
                                        <div class="tuyendung">
                                            <div class="wrap-ndct">
                                                <div class="@data.value.loaitin 37499 111">
                                                    <div class="ct">
                                                        @if (data.value.url != null && data.value.tieude != null)
                                                        {
                                                            <h3><a href="@Url.Action("JobDetail","Home", new {key =data.value.url})">@data.value.tieude</a></h3>
                                                        }
                                                        @if (data.value.tenND != null)
                                                        {
                                                            <span class="tenND">
                                                                @data.value.tenND
                                                            </span>
                                                        }
                                                        @if(data.value.gia != null)
                                                        {
                                                            <div class="gia"><span class="dv">@data.value.gia[0].donvi</span></div>
                                                        }
                                                        @if (data.value.diachiND != null)
                                                        {
                                                            <span class="diachiND">
                                                                @data.value.diachiND
                                                            </span>
                                                        }
                                                        <span class="chucdanh">
                                                            @if (data.value.chucdanh != null)
                                                            {
                                                                foreach(var cd in data.value.chucdanh)
                                                                {
                                                                    <a href="@Url.Action("Recruitment","Home", new {url = cd.url})">
                                                                    @cd.tengoi
                                                                </a>
                                                                }
                                                            }                                                         
                                                        </span>
                                                        @if(data.value.loai != null){
                                                            <span class="loai">
                                                                @foreach(var type in data.value.loai)
                                                                {
                                                                    <a href="@Url.Action("Recruitment","Home",new {url = type.url})">
                                                                        @type.tengoi
                                                                    </a>
                                                                }
                                                            </span>
                                                        }
                                                       @if(data.value.thoihan != null){
                                                            <span class="thoihan">@data.value.thoihan</span>
                                                        }
                                                        @if(data.value.ngoaingu != null){
                                                            <span class="ngoaingu">
                                                                @foreach(var languege in data.value.ngoaingu)
                                                                {
                                                                    <a href="@Url.Action("Recruitment","Home",new {url = languege.url})">@languege.url</a>
                                                                }
                                                            </span>
                                                        }
                                                        @if(data.value.nganh != null)
                                                        {
                                                            <div class="vttd">
                                                                @foreach(var career in data.value.nganh)
                                                                {
                                                                    <a href="@Url.Action("Recruitment","Home",new {url = career.url})">@career.tengoi</a>
                                                                }
                                                            </div>
                                                        }
                                                        <div class="group-wishlist">
                                                            <div class="wish_list "></div>
                                                            <div onclick="AddToCart(@data.value.id)" class="add_to_cart da-ung-tuyen"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="xemthem"><span><a href="/tuyen-nhan-vien"></a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="container tt-tuyendung"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35028:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    var json = (new WebClient()).DownloadString(url);
                    var list = JsonConvert.DeserializeObject<List<ApiModel>>(json);
                    <div class="@_className">
                        <div class="th-ykienkhachhang">
                            <div class="container ">
                                <div class="swiper swiper-initialized swiper-horizontal mySwiper swiper-backface-hidden">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            @if(list.Count != null)
                                            {
                                                @foreach(var Review in list)
                                                {
                                                    <div class="swiper-slide">
                                                        <div>
                                                            <div class="ykienkh">
                                                                @if(Review.tieude != null && Review.url != null)
                                                                {
                                                                    <h6><a href="@Review.url">@Review.tieude</a></h6>
                                                                }
                                                                @if(Review.ngaydang != null)
                                                                {
                                                                    <div class="ykkh_ngaydang">@Review.ngaydang</div>
                                                                }
                                                                @if(Review.noidungtomtat != null)
                                                                {
                                                                    <div class="ykkh_ndtt">
                                                                        <span>
                                                                            <p>
                                                                                @Html.Raw(Review.noidungtomtat)
                                                                            </p>
                                                                        </span>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container tt-ykienkhachhang"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35030:
                try
                {
                    var _className = "id" + item.value.idpart + " md-" + item.value.module.ToLower();
                    <div class="@_className">
                        <div class="th-laytimkiem">
                            <div class="container">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @style = "display:flex", @class = "search-congviec" }))
                                    {
                                    <form class="search-congviec">
                                        <div class="item item-search">
                                            <input name="id2" type="text" class="input-timcongviec" value="">
                                        </div>
                                        <div class="item item-city">
                                            <input onclick="SearchClick()" id="input-searchJob" type="text" class="input-timcongviec" value="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                                            <input name="id" type="hidden" id="input-ArrayIdMap" value="">
                                            <span class="clear-tinhthanh "></span>
                                        </div>
                                        <button class="btn-tk" type="submit"></button>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="container tt-laytimkiem"></div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
            case 35011:
                try
                {
                    <div class="id35011 md-quangcao">
                        <div class="th-quangcao"></div>
                        <div class="container tt-quangcao">
                            <p><span style="color: rgb(255, 0, 0);"><strong>028 3974 3179</strong></span></p>
                        </div>
                    </div>
                }
                catch (Exception)
                {

                    throw;
                }
                break;
        }
    }

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn theo khu vực tỉnh, thành phố</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  modal-body-khuvuc">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo tỉnh thành" value=""></div>
                <select id="selected-state" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn khu vực theo quận huyện</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo quận huyện" value=""></div>
                <select id="selected-district" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueState()" class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn theo phường xã</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo phường xã" value=""></div>
                <select id="selected-wards" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueDistrict()" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
    <input id="input-state" type="hidden" />
    <input id="input-district" type="hidden" />
    <input id="input-wards" type="hidden" />

    <input id="input-IdState" type="hidden" />
    <input id="input-IdDistrict" type="hidden" />
    <input id="input-IdWards" type="hidden" />

</div>

<script>
    function AddToCart(idNew){
        let eUser = `@cookieUserValue`;
        let ePass = `@cookiePassValue`;
        let eTypeAccount = `@cookieTypeAccountValue`;
        let urlApi = @MyConstanst.SiteName1+"save.addcart.asp?userid=" + eUser
            + "&pass=" + ePass
            + "&id=" + idNew
            + "&id1=&id2=";
        $.ajax({
            type: 'POST',
            url: urlApi,
            success: (response) => {
                if (response[0].maloi == 1) {
                    if (eTypeAccount == 1) {
                        Swal.fire({
                            title: 'Thông báo!',
                            text: response[0].ThongBao,
                            icon: 'success',
                            confirmButtonText: 'Đóng'
                        });
                        let actionUrl = '@Url.Action("InfoCvUser", "User")';
                        window.location.href = actionUrl;
                    }
                    else {
                        let actionUrl = '@Url.Action("Login", "Account")';
                        window.location.href = actionUrl;
                    }
                } else {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: response[0].ThongBao,
                        icon: 'warning',
                        confirmButtonText: 'Đóng'
                    });
                }
            },
            error: (e) => {
                Swal.fire({
                    title: 'Thông báo!',
                    text: 'Không thể ứng tuyển!',
                    icon: 'error',
                    confirmButtonText: 'Đóng'
                });
            }
        })


    }
</script>

                        