@using Newtonsoft.Json;
@using ProjectTestApi.Controllers;
@using System.Net;
@using ProjectTestApi.Models.Const;
@model List<ApiModel>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        @{
            foreach (var breadcrum in ViewBag.BreadCrumb)
            {
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="/@breadcrum.url">@breadcrum.tieude</a>
                </li>
            }
        }
    </ol>
</nav>
<div class="container">
    <div class="boloc-danhmuc">
        <input type="text" class="form-control tukhoatimkiem" value="">
        <div class="boloc32004 select-boloc">
            <div class="select-32004  ">
                <div class="input-size css-b62m3t-container">
                    <span id="react-select-3-live-region"
                    class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                    aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class=" css-13cymwt-control">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Ngành nghề</option>
                            @{
                                var urlWebBoLoc = MyConstanst.SiteName+"web.boloc.asp?id=" + Model[0].id;
                                var BoLoc = JsonConvert.DeserializeObject<List<ApiModel>>(
                                (new WebClient()).
                                DownloadString(urlWebBoLoc));

                                if (BoLoc.Count != 0)
                                {
                                    foreach (var data in BoLoc[0].noidungform)
                                    {
                                        if (data.tennhom == "nganh")
                                        {
                                            var urlBoLocChiTiet = MyConstanst.SiteName+"crm.boloc.chitiet.asp?id=" + data.id;
                                            var result = JsonConvert.DeserializeObject<List<ApiModel.BoLoc>>(
                                            (new WebClient()).
                                            DownloadString(urlBoLocChiTiet));
                                            foreach (var career in result[0].thamso)
                                            {
                                                <option value="@career.ma">@career.tengoi</option>
                                            }
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="boloc32003 select-boloc">
            <div class="item item-city item-city2">
                <input onclick="SearchClick()" id="input-searchJob" type="text" class="input-timcongviec" value="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                <input name="id" type="hidden" id="input-ArrayIdMap" value="">
                <span class="clear-tinhthanh "></span>
            </div>
        </div><button type="button" class="btn-tk"></button>
    </div>
</div>
<div class="id35004 md-tuyendung ">
    <div class="container">
        <div class="th-tuyendung">
            <div class="container">
                <h2><a href="/@Model[0].url">@Model[0].tieude</a></h2>
                <div class="row">
                    @{
                        foreach (var item in ViewBag.Content[0].data)
                        {
                            <div class="tuyendung">
                                <div class="wrap-ndct">
                                    <div class="vip v5 37500 ">
                                        <div class="ct">
                                            @if(item.tieude != null && item.url != null)
                                            {
                                                <h3>
                                                    <a href="@Url.Action("JobDetail","Home",new{key =item.url})">
                                                    @item.tieude
                                                    </a>
                                                </h3>
                                            }
                                            @if(item.tenND != null)
                                            {
                                                <span class="tenND">@item.tenND</span>
                                            }
                                            @if(item.diachiND != null)
                                            {
                                                <span class="diachiND">@item.diachiND</span>
                                            }
                                            @if(item.nganhhoc != null){
                                                <span class="nganhhoc">
                                                    @foreach(var subject in item.nganhhoc)
                                                    {
                                                        <a href="@Url.Action("Recruitment","Home",new {url = subject.url})">@subject.tengoi</a>
                                                    }
                                                </span>
                                            }
                                            @if(item.ngoaingu != null){
                                                <span class="ngoaingu">
                                                    @foreach(var language in item.ngoaingu)
                                                    {
                                                        <a href="@Url.Action("Recruitment","Home",new {url = language.url})">@language.tengoi</a>
                                                    }
                                                </span>
                                            }
                                            <div class="group-wishlist">
                                                <div class="wish_list "></div>
                                                <div class="add_to_cart da-ung-tuyen"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="xemthem">
                        <span>
                            <div to="/undefined"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn theo khu vực tỉnh, thành phố</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  modal-body-khuvuc">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo tỉnh thành" value=""></div>
                <select id="selected-state" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn khu vực theo quận huyện</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo quận huyện" value=""></div>
                <select id="selected-district" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueState()" class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn theo phường xã</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo phường xã" value=""></div>
                <select id="selected-wards" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueDistrict()" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<input id="input-state" type="hidden" />
<input id="input-district" type="hidden" />
<input id="input-wards" type="hidden" />

<input id="input-IdState" type="hidden" />
<input id="input-IdDistrict" type="hidden" />
<input id="input-IdWards" type="hidden" />
