@model List<ApiModel>
@{
    ViewData["Title"] = Model[0].tieude;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="id35001">
    <nav aria-label="breadcrumb" style="    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;">
        <ol class="breadcrumb">
            @foreach (var breadcrum in ViewBag.BreadCrumb)
            {
                <li class="breadcrumb-item"><a href="/@breadcrum.url">@breadcrum.tieude</a></li>
            }
        </ol>
    </nav>
    <div class="id35001 md-tintuc ">
        <div class="container">
            <div class="th-tintuc">
                <div class="container">
                    <h2><a href="/tin-tuc">Tin tức nhân sự</a></h2>
                    <div class="row">
                        @foreach (var item in Model[0].data)
                        {
                            <div class="tintuc">
                                    @if (item.url != null)
                                    {
                                        <div class="hinh">
                                            <a href="@item.url">
                                                <img class="border"
                                                     src="@item.hinhdaidien"
                                                     alt="">
                                            </a>
                                        </div>
                                    }
                                    <div class="ct">
                                        @if (item.ngaydang != null)
                                        {
                                            <div class="ngdang">@item.ngaydang</div>
                                        }
                                        @if (item.tieude != null)
                                        {
                                            <h3>
                                                <a href="@item.url">
                                                    @item.tieude
                                                </a>
                                            </h3>
                                        }
                                        @if (item.noidungtomtat != null)
                                        {
                                            <div class="ttct">
                                                <p>@Html.Raw(item.noidungtomtat)</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

