@using Newtonsoft.Json;
@using System.Net;
@using ProjectTestApi.Models.Const;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<ApiModel.DataDetail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var idBoLocNganh = -1;
    var urlData = MyConstanst.SiteName+"module.Tuyendung.asp?id="+ViewBag.IdPart;
    var urlListCareerApi = MyConstanst.SiteName+"web.boloc.asp?id=" + ViewBag.IdPart;
    var urlBoLocChiTiet = MyConstanst.SiteName+"crm.boloc.chitiet.asp?id=";

    var boloc = JsonConvert.DeserializeObject<List<ApiModel>>((new WebClient()).DownloadString(urlListCareerApi));
    if (boloc != null && boloc[0].noidungform != null)
    {
        foreach(var career in boloc[0].noidungform)
        {
            if(career.tennhom == "nganh")
            {
                idBoLocNganh = int.Parse(career.id);
                urlBoLocChiTiet += idBoLocNganh;
                break;
            }
        }
    }
}
<nav aria-label="breadcrumb" style="    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;">
    <ol class="breadcrumb">
        @{
            if (ViewBag.BreadCrumb is List<BreadCrumbModel>)
            {
                @foreach (var breadecrumb in ViewBag.BreadCrumb)
                {
                    <li class="breadcrumb-item"><a href="/@Url.Action("Recruitment","Home",new{breadecrumb.url})">@breadecrumb.tieude</a></li>
                }
            }
        }  
    </ol>
</nav>
<div class="container">
    <div class="boloc-danhmuc">
        <input type="text" class="form-control tukhoatimkiem" value="">
        <div class="boloc32004 select-boloc">
            <div class="select-32004  ">
                <div class="input-size css-b62m3t-container">
                    <span id="react-select-2-live-region"
                          class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                                                   aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class=" css-13cymwt-control">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Ngành nghề</option>
                            @{
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="boloc32003 select-boloc">
            <div class="item item-city item-city2">
                <input id="input-searchJob" onclick="SearchClick()" type="text" class="input-timcongviec" placeholder="Tỉnh thành" value="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
                       value=""><span class="clear-tinhthanh ">×</span>
            </div>
        </div><button type="button" class="btn-tk"></button>
    </div>
</div>
<div class="id35004 md-tuyendung ">
 <div class="container">
        <div class="th-tuyendung">
            <div class="container">
                <h2><a href="/tuyen-nhan-vien">Cổng thông tin tuyển dụng nhân viên</a></h2>
                <div class="row">
                    @{
                        try
                        {
                            foreach (var item in Model)
                            {
                                <div class="tuyendung">
                                    <div class="wrap-ndct">
                                        <div class="thuong 37506 111">
                                            <div class="ct">
                                                @if(@item.tieude != null && item.url != null)
                                                {
                                                    <h3><a href="@Url.Action("JobDetail","Home",new {key = item.url})">@item.tieude</a></h3>
                                                }
                                                @if(item.tenND != null)
                                                {
                                                    <span class="tenND">
                                                        @item.tenND
                                                    </span>
                                                }
                                                @if(item.gia != null)
                                                {
                                                    <div class="gia">
                                                        <span class="st">@item.gia[0].viet</span>
                                                        <span class="dv">@item.gia[0].donvi</span>
                                                    </div>
                                                }
                                                @if(item.diachimap != null){
                                                    <span class="diachiND">@item.diachimap[0].tengoi</span>
                                                }
                                                @if(item.chucdanh != null){
                                                    <span class="chucdanh">
                                                        @foreach(var chucdanh in item.chucdanh)
                                                        {
                                                            <a href="@Url.Action("Recruitment","Home",new {url = chucdanh.url})">@chucdanh.tengoi</a>
                                                        }
                                                    </span>
                                                }
                                                @if(item.loai != null)
                                                {
                                                    <span class="loai">
                                                        @foreach(var type in item.loai)
                                                        {
                                                            <a href="@Url.Action("Recruitment","Home", new {url = type.url})">
                                                                @type.tengoi
                                                            </a>
                                                        }
                                                    </span>
                                                }
                                                @if(item.thoihan != null){
                                                    <span class="thoihan">@item.thoihan</span>
                                                }
                                                @if(item.ngoaingu != null)
                                                {
                                                    <span class="ngoaingu">
                                                        @foreach(var language in item.ngoaingu)
                                                        {
                                                            <a href="@Url.Action("Recruitment","Home",new {url = language.url})">@language.tengoi</a>
                                                        }
                                                    </span>
                                                }
                                                @if(item.nganh != null)
                                                {
                                                    <div class="vttd">
                                                        @foreach(var career in item.nganh)
                                                        {
                                                            <a href="@Url.Action("Recruitment","Job",new {url = career.url})">@career.tengoi</a>
                                                        }
                                                    </div>
                                                }
                                                <div class="group-wishlist">
                                                    <div class="wish_list "></div>
                                                    <div class="add_to_cart da-ung-tuyen"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }catch(Exception ex)
                        {
                            throw;
                        }
                    }
                    <div class="container">
                        @Html.PagedListPager(Model, page => Url.Action("Recruitment", new { page }), Bootstrap4PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                    <div class="xemthem"><span><a href="/undefined"></a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn theo khu vực tỉnh, thành phố</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  modal-body-khuvuc">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo tỉnh thành" value=""></div>
                <select id="selected-state" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn khu vực theo quận huyện</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo quận huyện" value=""></div>
                <select id="selected-district" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueState()" class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Chọn theo phường xã</h5>
                <button onclick="InsertNameMap()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-input-tt"><input class="form-control" type="text" placeholder="Tìm theo phường xã" value=""></div>
                <select id="selected-wards" class="form-select" size="8" aria-label="size 3 select example">
                </select>
            </div>
            <div class="modal-footer">
                <button onclick="RemoveValueDistrict()" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<input id="input-state" type="hidden" />
<input id="input-district" type="hidden" />
<input id="input-wards" type="hidden" />

<input id="input-IdState" type="hidden" />
<input id="input-IdDistrict" type="hidden" />
<input id="input-IdWards" type="hidden" />
<input id="input-ArrayIdMap" type="hidden" />
