@model List<ApiModel.DataDetail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb" style="    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;">
@*     <ol class="breadcrumb">
        @{
            foreach (var breadcrum in ViewBag.BreadCrumb)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Search","Home",new {url = breadcrum.url})">@breadcrum.tieude</a></li>
            }
        }
    </ol> *@
</nav>
<div class="id35030 md-timboloc ">
    <div class="container">
        <div class="th-tuyendung">
            <div class="container">
                <h2><a href="/tim-cong-viec">Kết quả tìm kiếm theo yêu cầu </a></h2>
                <div class="row">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="tuyendung">
                                <div class="wrap-ndct">
                                    <div class="thuong 37424 111">
                                        <div class="ct">
                                            <h3>
                                                <a href="@Url.Action("JobDetail","Home",new {key = item.url})">
                                                    @item.tieude
                                                </a>
                                            </h3>
                                            @if(item.tenND != null)
                                            {
                                                <span class="tenND">@item.tenND</span>
                                            }
                                            @if(item.gia != null)
                                            {
                                                <div class="gia"><span class="dv">@item.gia[0].donvi</span></div>
                                            }                                       
                                            @if(item.diachimap != null)
                                            {
                                                <span class="diachiND">
                                                    @item.diachimap[0].tengoi
                                                </span>
                                            }
                                            @if(item.chucdanh != null)
                                            {
                                                <span class="chucdanh">
                                                    @foreach(var cd in item.chucdanh)
                                                    {
                                                        <a href="@Url.Action("Search","Home", new {url = cd.url})">
                                                            @cd.tengoi
                                                        </a>
                                                    }
                                                </span>
                                            }
                                            @if(item.loai != null)
                                            {
                                                <span class="loai">
                                                    @foreach(var type in item.loai)
                                                    {
                                                        <a href="@Url.Action("Search","Home",new {url = type.url})">
                                                            @type.tengoi
                                                        </a>
                                                    }
                                                </span>
                                            }
                                            @if(item.thoihan != null){
                                                <span class="thoihan">@item.thoihan</span>
                                            }
                                            @if(item.ngoaingu != null){
                                                  <span class="ngoaingu">
                                                    @foreach(var language in item.ngoaingu)
                                                    {
                                                        <a href="@Url.Action("Search","Home",new {url = language.url})">@language.tengoi</a>
                                                    }
                                                </span>                                                
                                            }
                                            @if(item.nganh != null)
                                            {
                                                <div class="vttd">
                                                    @foreach(var career in item.nganh)
                                                    {
                                                        <a href="@Url.Action("Search","Home",new {url = career.url})">@career.tengoi</a>
                                                }
                                                </div>
                                            }
                                            <div class="group-wishlist">
                                                <div class="wish_list "></div>
                                                <div class="add_to_cart da-ung-tuyen"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="xemthem"><span><a href="/undefined"></a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
