@using Newtonsoft.Json;
@using ProjectTestApi.Models.Const;
@using System.Text;
@using System.Net;
@model List<WebAllModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string idDivMain = "id" + Model[0].id + " md-" + Model[0].module;
}
@{
    string apiBreadCrumb = MyConstanst.SiteName + "web.breadcrumb.asp?id=" + Model[0].id;
    string contentApi = await (new WebClient()).DownloadStringTaskAsync(apiBreadCrumb);
    if (!string.IsNullOrEmpty(contentApi))
    {
        List<BreadCrumbModel> breadCrumbResult = JsonConvert
        .DeserializeObject<List<BreadCrumbModel>>(contentApi);

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (var breadcrumb in breadCrumbResult)
                {
                    if (!string.IsNullOrEmpty(breadcrumb.url) || !string.IsNullOrEmpty(breadcrumb.tieude))
                    {
                        <li class="breadcrumb-item"><a href="/@breadcrumb.url">@breadcrumb.tieude</a></li>
                    }
                }
            </ol>
        </nav>
    }
}
@{
    string apiContent = MyConstanst.SiteName + "module." + Model[0].module + ".asp?id=" + Model[0].id + "&pageid=1";
    string stringJson = await (new WebClient()).DownloadStringTaskAsync(apiContent);
    if (!String.IsNullOrEmpty(stringJson))
    {
        List<ApiModel> models = JsonConvert.DeserializeObject<List<ApiModel>>(stringJson);

        if(models.Count != 0)
        {
            <div class="@idDivMain">
                <div class="container">
                    <div class="th-tuyendung">
                        <div class="container">
                            <h2><a href="@Url.Action("Search","Home",new {keyword = Model[0].url})">@Model[0].tieude</a></h2>
                            <div class="row">
                                @if (models[0].data.Count != 0)
                                {
                                    foreach (var item in models[0].data)
                                    {
                                        <div class="tuyendung">
                                            <div class="wrap-ndct">
                                                <div class="@item.loaitin @item.id ">
                                                    <div class="ct">
                                                        @if (!string.IsNullOrEmpty(item.tieude))
                                                        {
                                                            <h3>
                                                                <a href="@Url.Action("Search","Home",new {keyword = item.url})">
                                                                    @item.tieude
                                                                </a>
                                                            </h3>
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.tenND))
                                                        {
                                                            <span class="tenND">@item.tenND</span>
                                                        }
                                                        @if (item.nganhhoc != null)
                                                        {
                                                            <span class="nganhhoc">
                                                                @foreach (var major in item.nganhhoc)
                                                                {
                                                                    <a href="@Url.Action("Search","Home", new {keyword = major.url })">
                                                                        @major.tengoi
                                                                    </a>
                                                                }
                                                            </span>
                                                        }
                                                        @if (item.yeucaukynang != null)
                                                        {
                                                            <span class="yeucaukynang">
                                                                @foreach (var skill in item.yeucaukynang)
                                                                {
                                                                    <a href="@Url.Action("Search","Home",new {keyword = skill.url})">@skill.tengoi</a>
                                                                }
                                                            </span>
                                                        }
                                                        <div class="group-wishlist">
                                                            <div class="wish_list "></div>
                                                            <div class="add_to_cart da-ung-tuyen"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="xemthem">
                                    <span>
                                        <div to="/undefined"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

