@model List<ApiModel.DataDetail>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="id35030 md-timboloc ">
    <div class="container">
        <div class="th-tuyendung">
            <div class="container">
                <h2><a href="/tim-cong-viec">Kết quả tìm kiếm theo yêu cầu </a></h2>
                <div class="row">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="tuyendung">
                                <div class="wrap-ndct">
                                    <div class="thuong 37424 111">
                                        <div class="ct">
                                            <h3>
                                                <a href="@Url.Action("JobDetail","Home", new {id = item.id, url=item.url})" onclick="showLoading()">
                                                    @item.tieude
                                                </a>
                                            </h3>
                                            @if(item.tenND != null)
                                            {
                                                <span class="tenND">@item.tenND</span>
                                            }
                                            @if(item.gia != null)
                                            {
                                                <div class="gia"><span class="dv">@item.gia[0].donvi</span></div>
                                            }                                       
                                            @if(item.diachimap != null)
                                            {
                                                <span class="diachiND">
                                                    @item.diachimap[0].tengoi
                                                </span>
                                            }
                                            @if(item.chucdanh != null)
                                            {
                                                <span class="chucdanh">
                                                    <a href="@item.chucdanh[0].url">
                                                        @item.chucdanh[0].tengoi
                                                    </a>
                                                </span>
                                            }
                                            @if(item.loai != null)
                                            {
                                                <span class="loai">
                                                    <a href="@item.loai[0].url">
                                                        @item.loai[0].tengoi
                                                    </a>
                                                </span>
                                            }
                                            @if(item.thoihan != null){
                                                <span class="thoihan">@item.thoihan</span>
                                            }
                                            @if(item.ngoaingu != null){
                                                  <span class="ngoaingu">
                                                    @foreach(var language in item.ngoaingu)
                                                    {
                                                        <a href="@language.url">@language.tengoi</a>
                                                    }
                                                </span>                                                
                                            }
                                            @if(item.nganh != null)
                                            {
                                                <div class="vttd">
                                                    @foreach(var career in item.nganh)
                                                    {
                                                        <a href="@career.url">@career.tengoi</a>
                                                    }
                                                </div>
                                            }
                                            <div class="group-wishlist">
                                                <div class="wish_list "></div>
                                                <div class="add_to_cart da-ung-tuyen"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="container">
                        <ul class="pagination phantrang">
                            <li class="previous"><a href="/tim-cong-viec"><span class="trangtruoc"></span></a></li>
                            <li><a class="page-active" href="/tim-cong-viec">1</a></li>
                            <li><a class="" href="/tim-cong-viec">2</a></li>
                            <li class="next"><a href="/tim-cong-viec"><span class="trangsau"></span></a></li>
                        </ul>
                    </div>
                    <div class="xemthem"><span><a href="/undefined"></a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
